/*яка різниця між space around & space evenly*/
/*flex: 1 як він працює? чому можна обійтись без інших величин?*/

div {
    box-sizing: border-box;
}

body {
    max-width: 1200px;
    margin: 0 auto;
    color: white;
    font-size: 18px;
}

.main {
    border: 2px solid red;
    padding: 1px;
}

/*colors*/

.white {
    background-color: white;
}
.black {
    background: black;
}
.pink {
    background: pink;
}
.orange {
    background: orange;
}
.red {
    background: red;
}
.green {
    background: green;
}
.blue {
    background: blue;
}

/*flex*/

.header {
    text-align: center;
    display: flex;
    /*flex-flow: column nowrap;*/
    flex-flow: row wrap;
    /*justify-content: flex-start;*/
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    min-height: 300px;
}

.header>div:first-child {
    width: 100%;
    align-self: flex-start;
}

.sub_header {
    min-height: 200px;
    flex-basis: 70%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}

.sub_header>div:nth-child(2), .sub_header>div:nth-child(3) {
    flex: 0 1 45%;
    height: 70px;
}

.sub_sub_header {
    height: 70px;
    flex: 0 1 70%;
}

.menu {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    min-height: 150px;
    align-content: flex-start;
    padding-bottom: 9px;
}

.menu div:first-child {
    flex-basis: 100%;
}

.menu div:nth-child(1n+2){
    height: 120px;
    flex: 1 1 298px;
}

.menu>div:nth-child(2), .menu>div:nth-child(3) {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.menu>div:nth-child(2)>div {
    flex: 1;
    height: 70%;
    /*margin-top: 15px;*/
}

.menu>div:nth-child(3)>div {
    flex: 0 1 80%;
    /*justify-self: center; чого не працює?*/
    height: 70%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    /*margin-top: 15px; чи нормальна практика використовувати марджин з флексом?*/
}

.menu>div:nth-child(3)>div>div {
    flex: 0 1 30%;
    height: 60%;
}

.menu>div:nth-child(4) {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu>div:nth-child(4)>div {
    height: 60%;
    flex: 0 1 33%;
    /*margin-top: 15px;*/
}

.menu>div:nth-child(5) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu>div:nth-child(5)>div {
    height: 70%;
    flex: 0 1 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu>div:nth-child(5)>div>div {
    flex: 0 1 45%;
    height: 60%;
} 


.sections {
    display: flex;
    flex-flow: row wrap;
}

.sections>div {
    flex: 1 1 398px;
    height: 350px;
}

.sections div:first-child {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}

.sections div:first-child div:first-child {
    flex: 0 1 80%;
    height: 25%;
}

.sections div:first-child div:nth-child(2) {
    flex: 0 1 40%;
    height: 25%;
}

.sections div:first-child div:last-child {
    flex: 0 1 40%;
    height: 25%;
}

.sections>div:nth-child(2)>div:first-child {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}

.sections>div:nth-child(2)>div:first-child>div {
    flex: 0 1 40%;
    width: 80%;
    /*flex basis задає в колонці висоту, чи правильно так задавати ширину?*/
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.sections>div:nth-child(2)>div:first-child>div:first-child>div {
    flex: 0 1 80%;
    height: 70%;
}

.sections>div:nth-child(2)>div:first-child>div:nth-child(2)>div {
    flex: 0 1 40%;
    height: 50%;
    align-self: center;
}

.sections div:nth-child(2) {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
}

.sections div:nth-child(2) div {
    flex: 1;
    height: 65%;
}

.sections div:nth-child(2) div:nth-child(2) {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.sections div:nth-child(2) div:nth-child(2) div:first-child {
    height: 80%;
    flex: 1;
}

.sections div:nth-child(2) div:nth-child(2) div:nth-child(2) {
    height: 70%;
    flex: 1;
}

.sections>div:last-child {
    display: flex;
    flex-flow: row wrap;
    padding-top: 15px;
}

.sections>div:last-child>div:first-child {
    height: 70%;
    flex: 1;
    align-self: flex-end;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.sections>div:last-child>div:first-child>div {
    flex: 0 1 30%;
    height: 60%;
}

.sections div:last-child div:nth-child(2) {
    height: 70%;
    flex: 1;
    align-self: center;
}

.sections div:last-child>div:nth-child(3) {
    height: 70%;
    flex: 1;
    align-self: flex-start;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
}

.sections div:last-child>div:nth-child(3)>div:first-child {
    /*height: 50px;*/
    flex-basis: 30%;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-self: center;
    justify-content: space-between;
}

.sections div:last-child>div:nth-child(3)>div:last-child {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    flex: 0 1 40%;
    width: 100%;
}


.sections div:last-child>div:nth-child(3)>div>div:first-child {
    flex-grow: 0;
    flex-basis: auto;
    justify-self: flex-start;
    align-self: flex-end;
    height: 25px;
    height: auto;
    padding: 4px;
}

.sections div:last-child>div:nth-child(3)>div>div:last-child {
    flex-grow: 0;
    flex-basis: auto;
    justify-self: flex-end;
    /*align-self: flex-start;*/
    height: auto;
    padding: 4px;
}

.sections div:last-child>div:nth-child(3)>div:last-child>div {
    flex: 0 1 40% ;
    height: 70% ;
    align-self: center;
}


.footer {
    text-align: center;
    height: 100px;
}


@media screen and (max-width: 720px) {
    .sections div:nth-child(2) div:nth-child(2) {
        flex-flow: column wrap;
        justify-content: center;
    }
    .sections div:nth-child(2) div:nth-child(2) div:nth-child(1) {
        flex: 0 1 70px;
        width: 100%;
    }
    .sections div:nth-child(2) div:nth-child(2) div:nth-child(2) {
        flex: 0 1 70px;
        width: 100%;
    }
    .sections div:last-child div:first-child {
    height: 70%;
    flex: 1;
    align-self: center;
    }
    .sections div:last-child div:nth-child(2) {
        height: 70%;
        flex: 1;
        align-self: center;
    }

    .sections div:last-child div:nth-child(3) {
        height: 70%;
        flex: 1;
        align-self: center;
    }
}